{% extends 'base.html.twig' %}

{% block main%}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Datatables Rows</h1>

                <div class="top-right-button-container">
                    <div class="btn-group">
                        <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            EXPORT
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="dataTablesCopy" href="#">Copy</a>
                            <a class="dropdown-item" id="dataTablesExcel" href="#">Excel</a>
                            <a class="dropdown-item" id="dataTablesCsv" href="#">Csv</a>
                            <a class="dropdown-item" id="dataTablesPdf" href="#">Pdf</a>
                        </div>
                    </div>
                </div>

                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Library</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>
                <div class="mb-2">
                    <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                        role="button" aria-expanded="true" aria-controls="displayOptions">
                        Display Options
                        <i class="simple-icon-arrow-down align-middle"></i>
                    </a>
                    <div class="collapse dont-collapse-sm" id="displayOptions">
                        <div class="d-block d-md-inline-block">
                            <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                                <input class="form-control" placeholder="Search Table" id="searchDatatable">
                            </div>
                        </div>
                        <div class="float-md-right dropdown-as-select" id="pageCountDatatable">
                            <span class="text-muted text-small">Displaying 1-10 of 40 items </span>
                            <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                10
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">5</a>
                                <a class="dropdown-item active" href="#">10</a>
                                <a class="dropdown-item" href="#">20</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>



                <div class="col-12 mb-4 data-table-rows data-tables-hide-filter">
                    <div id="datatableRows_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row view-filter">
                            <div class="col-sm-12">
                                <div class="float-left"></div>
                                <div class="float-right">
                                    <div id="datatableRows_filter" class="dataTables_filter"><label>Search:<input
                                                type="search" class="form-control form-control-sm" placeholder=""
                                                aria-controls="datatableRows"></label></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <table id="datatableRows" class="data-table responsive nowrap dataTable no-footer dtr-inline"
                            data-order="[[ 1, &quot;desc&quot; ]]" role="grid" style="width: 1141px;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Cin</th>
                                    <th>email</th>
                                    <th>action</th>
                                    <th class="empty">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                            {%for user in user %}
                                <tr>
                                    <td>
                                        <p class="list-item-heading">{{user.id}}</p>
                                    </td>
                                    <td>
                                        <p class="text-muted">{{user.username}}</p>
                                    </td>
                                    <td>
                                        <p class="text-muted">{{user.cin}}</p>
                                    </td>
                                    <td>
                                        <p class="text-muted">{{user.email}}</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                            data-target="#exampleModal">
                                            show
                                        </button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                            aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Show User</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      
                                                        <div class="col-md-6">
                                                            <label for="inputEmail4" class="form-label">Id </label>
                                                            <p>{{user.id}}</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="inputPassword4" class="form-label">Cin </label>
                                                            <p>{{user.cin}}</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <label for="inputAddress" class="form-label"> Nom</label>
                                                            <p>{{user.username}}</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <label for="inputAddress" class="form-label"> Email </label>
                                                            <p>{{user.email}}</p>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                    <a  class="btn btn-primary" data-toggle="modal" data-target="#add_post_button" href="{{ path('user_create')}}"> add</a>
{{ form_start(form) }}
    <div class="modal fade" id="add_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Créer un user</h4>
                </div>
                <div class="modal-body">
                              {  {{ form_widget(form.email) }}
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                   
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}

                                    </td>

                                    <td>

                                        <a href="{{ path ('user_delete',{id : user.id})}}">delete</a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>$('#add_post_button').on("click", function () {
    $.ajax({
        url: Routing.generate('user_create'),
        type: 'POST',
        dataType: 'html',
        success: function (code_html, statut) {
            $(code_html).appendTo('#modal_form');
            $('#add_user').modal('show');
 
            $('#submit_user').on("click", function () {
                var data = $("[name='post']").serialize();
                $.ajax({
                    url: Routing.generate('user_create'),
                    type: 'POST',
                    data: data
                });
            });
        }
    });
});</script>
 
</main>

{% endblock main %}